! Solarized:
! *.foreground:  #cccccc
! *.foreground:   #93a1a1
*.foreground:   #bcbcbc
*.background:   #000000
*.cursorColor:  #eee8d5

! black
*.color8:       #575757
*.color0:       #3c3c3c

! red
! HSV: 000d, 100%, 84%
*.color9:       #d70000
! HSV: 000d, 100%, 54%
*.color1:       #8a0000

! green
! HSV: 078d, 100%, 53%
*.color10:      #5f8700
! HSV: 078d, 100%, 43%
*.color2:       #4d6e00

! yellow
! HSV: 046d, 100%, 69%
*.color11:      #af8700
! HSV: 046d, 100%, 49%
*.color3:       #7d6000

! blue
! HSV: 208d, 100%, 100%
*.color12:      #0087ff
! HSV: 208d, 100%, 70%
*.color4:       #005fb3

! magenta
*.color13:      #af005f
*.color5:       #7d0045

! cyan
*.color14:      #00afaf
*.color6:       #007d7d

! white
*.color15:      #d7d7af
*.color7:       #ffffd7

! Xft
!Xft.dpi: 144
Xft.dpi: 152
Xft.autohint: 0
! Xft.hintstyle: hintfull
! Xft.hinting: 1
! Xft.antialias: 1
Xft.rgba: rgba 

! Urxvt
URxvt.depth: 32
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 10000
URxvt*internalBorder: 2

! Font
! required 'pacman -S ttf-anonymous-pro'
! URxvt.font: xft:Anonymous Pro:size=11
URxvt.letterSpace: 1.2
URxvt.lineSpace: 0

URxvt.font: xft:Terminus:pixelsize=24
URxvt.letterSpace: 0
URxvt.lineSpace: 0

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

!! Ctrl+Shift bindings:
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Common Keybinds for Navigations
! One line up
URxvt.keysym.Shift-Up: command:\033]720;1\00
! One line down
URxvt.keysym.Shift-Down: command:\033]721;1\007
! Move around
! URxvt.keysym.Control-Up: \033[1;5A
!URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D


!! Copy and Paste
!! URxvt.keysym.M-c: perl:clipboard:copy
!! URxvt.keysym.M-v: perl:clipboard:paste
!! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next

!! URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true


URxvt*skipBuiltinGlyphs:    true
