! Solarized:
! *.foreground:  #cccccc
! *.foreground:   #93a1a1
*.foreground:   #bcbcbc
*.background:   #000000
*.cursorColor:  #eee8d5

! black
*.color8:       #262626
*.color0:       #1c1c1c

! red
*.color9:       #d70000
*.color1:       #d75f00

! green
*.color10:       #5f8700
*.color2:      #4e4e4e

! yellow
*.color11:       #af8700
*.color3:      #585858

! blue
*.color12:       #0087ff
*.color4:      #808080

! magenta
*.color13:       #af005f
*.color5:      #5f5faf

! cyan
*.color14:       #00afaf
*.color6:      #8a8a8a

! white
*.color15:       #d7d7af
*.color7:      #ffffd7

! Xft
Xft.dpi: 144
Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Urxvt
! required 'pacman -S ttf-anonymous-pro'
URxvt.font: xft:Anonymous Pro:size=13
URxvt.depth: 32
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 5000
URxvt*internalBorder: 2
